.InputOptions.editing {
  background-color: darken($colorLightGrey, 5%);
}

.InputOptions--InputLableButtonWrapper {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  width: 100%;
  background: none;
}

.InputQuestion--inputValue {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  padding-top: 8px;
}

.InputQuestion--buttons {
  display: flex;
  justify-content: space-between;
  width: calc(100% + #{$spacing * 2});
  margin-left: -$spacing;
}

.InputQuestion--button {
  font-weight: inherit;
  font-size: inherit;
  color: $colorOrange;
  border: none;
  padding: #{$spacing * 2} $spacing;
  background: none;

  &.selected {
    font-weight: 700;
  }
}

.InputQuestion--input {
  @include InputOverwrites;
  font-size: 1.8rem;
}
