.ProjectInfo {
  background-color: $colorBlue;
  color: $colorWhite;
}

.ProjectInfo > .Container {
  padding-left: 0;
  padding-right: 0;
}

.ProjectInfo .Input .Container {
  padding-top: 0;
  padding-bottom: 0;
}

.ProjectInfo--title .Input--inputField {
  font-size: 3rem;
  font-weight: 500;
}

.ProjectInfo--projectNummber .Input--inputField {
  font-size: 1.6rem;
}
