.PdfInputOptions {
  display: flex;
  justify-content: space-between;

  > div:first-of-type {
    width: 90mm;
  }

  > :last-of-type {
    width: calc(100% - 90mm);
  }
}

.PdfInputOptions--option {
  display: flex;
  align-items: center;
}

.PdfInputOption--optionLabel {
  flex-grow: 1;
}
