.ProjectSubmit {
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  bottom: 0;
}

.ProjectSubmit--button {
  background-color: $colorOrange;
  border: none;
  width: 100%;
  color: $colorWhite;
  padding: #{$spacing * 1.5};
  cursor: pointer;
}
