// Colors
$colorBlue: #004f7e;
$colorOrange: #f18e00;
$colorLightGrey: #f7f7f7;
$colorBlack: #000;
$colorWhite: #fff;

// Fonts
$font: "Quicksand", sans-serif;

// Spacing
$spacing: 10px;

// Container
$mainWidth: 920px;

// transition
$transitionSpeed: 0.2s;
$transition: ease all $transitionSpeed;

// Other
$boxShadow: 0px 3px 3px -2px rgba($colorBlack, 0.2),
  0px 3px 4px 0px rgba($colorBlack, 0.14),
  0px 1px 8px 0px rgba($colorBlack, 0.12);

@mixin InputOverwrites {
  width: 100%;
  background-color: transparent;
  color: inherit;
  border: none;
  font-family: $font;
  font-size: 2rem;
  outline: none;
  border: none;
  padding: 0.5rem 0;

  &::placeholder {
    color: inherit;
    opacity: 0.65;
  }
}
